.button {
    background-color: #149cb0;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: larger;
    margin: 4px;
}
.button:hover{
    background-color: #3f7883;
}
.exitButton{
    background-color: rgb(73, 151, 117);
    color: white;
    border: none;
    padding: 15px 32px;
    margin: 4px;
    font-size: larger;
}
.exitButton:hover{
    background-color: rgb(44, 121, 87);
}
#body{
    display: grid;
    grid-template:
    "b a "auto
    "c c "auto
    / 1fr 8fr
}
#userButt{
    grid-area: a;
}
#exitButt{
    grid-area: b;
}
#divAuth{
    grid-area: c;
    display: grid;
    grid-template:
    "ia aa"1fr
    "ib bb"1fr
    "w w"1fr/
    auto auto
}
#email{
    grid-area: aa;
}
#emailL{
    grid-area: ia;
    align-content: center;
}
#pass{
    grid-area: bb;
}
#passL{
    grid-area: ib;
    align-content: center;
}
#sub{
    grid-area: w;
}

#divToTable{
    grid-area: c;
    display: grid;
    grid-template: 
    "s s"auto
    "i f"auto
    "r r"auto
    "t ."auto/
    auto auto;
}
#UsersTable{
    grid-area: t;
}

#sort{
    grid-area: s;
}
#submitF{
    grid-area: i;
}
#filter{
    grid-area: f;
    margin: 4px;
}
#returnB{
    grid-area: r;
}